<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.heictojpeg</string>
	<key>connections</key>
	<dict>
		<key>092F777A-2B8C-42A7-84A3-88A8874CD261</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BCCDB1D4-0D10-4D7B-B2B0-0BF09AEA3283</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3ACFD118-8BF1-4EA0-A6D9-FCDC035175AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3ACFD118-8BF1-4EA0-A6D9-FCDC035175AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB5EC4C4-CD67-4887-AAA6-500CF034519B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>97BBEF73-F053-4B52-8BC9-1E3C3CBFCDA8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB614872-E0F7-44AE-849F-24995A67C0DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7DF28458-FA96-4C2E-9F2C-4458C42649A4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED3C23B9-1906-49F1-9E34-00E5BE790119</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B3F65B1F-1BC5-4737-9278-DBFBDCED7D12</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>11DE6F8C-1E84-475C-9161-00ED894C7AA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DF6CAC31-4AF4-4ADC-96AD-08953B20AFDE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5020CA1A-6C69-48EC-8C31-D9394C9D6E1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>092F777A-2B8C-42A7-84A3-88A8874CD261</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CFDA1A4-77F5-4F2B-9E96-88994CBF9DE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5020CA1A-6C69-48EC-8C31-D9394C9D6E1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA7FEB7F-46E4-4667-9C86-AA112FDE9D35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5020CA1A-6C69-48EC-8C31-D9394C9D6E1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BCCDB1D4-0D10-4D7B-B2B0-0BF09AEA3283</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D061ADDA-555F-4ED4-B45D-0D3CA28588B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7DDA18F3-EC15-47A4-99CA-4D14C800C164</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBBE3BC1-6832-4E63-804B-DFD14DF108C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C94B776A-414B-49DF-9B04-3A65EA0E84EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D061ADDA-555F-4ED4-B45D-0D3CA28588B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBBE3BC1-6832-4E63-804B-DFD14DF108C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Convert .heic images to .jpeg</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HEIC to JPEG</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>public.heic</string>
				</array>
				<key>name</key>
				<string>Convert HEIC to JPEG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BA7FEB7F-46E4-4667-9C86-AA112FDE9D35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C94B776A-414B-49DF-9B04-3A65EA0E84EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>jpeg</string>
					<key>save_in</key>
					<string>{var:save_in}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/image-manipulation/image.format.convert</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>092F777A-2B8C-42A7-84A3-88A8874CD261</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:original_heics}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D061ADDA-555F-4ED4-B45D-0D3CA28588B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:delete_orig}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Trash HEICs</string>
						<key>uid</key>
						<string>7DDA18F3-EC15-47A4-99CA-4D14C800C164</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BCCDB1D4-0D10-4D7B-B2B0-0BF09AEA3283</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>original_heics</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5020CA1A-6C69-48EC-8C31-D9394C9D6E1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>CBBE3BC1-6832-4E63-804B-DFD14DF108C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<true/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Converted to JPEG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AB5EC4C4-CD67-4887-AAA6-500CF034519B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:after_conversion}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>stop</string>
						<key>outputlabel</key>
						<string>Do Nothing</string>
						<key>uid</key>
						<string>7DDA18F3-EC15-47A4-99CA-4D14C800C164</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:after_conversion}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>notification</string>
						<key>outputlabel</key>
						<string>Show Notification</string>
						<key>uid</key>
						<string>97BBEF73-F053-4B52-8BC9-1E3C3CBFCDA8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:after_conversion}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reveal</string>
						<key>outputlabel</key>
						<string>Reveal in Finder</string>
						<key>uid</key>
						<string>7DF28458-FA96-4C2E-9F2C-4458C42649A4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:after_conversion}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>buffer</string>
						<key>outputlabel</key>
						<string>Append to File Buffer</string>
						<key>uid</key>
						<string>B3F65B1F-1BC5-4737-9278-DBFBDCED7D12</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:after_conversion}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>move</string>
						<key>outputlabel</key>
						<string>Move to New Location</string>
						<key>uid</key>
						<string>DF6CAC31-4AF4-4ADC-96AD-08953B20AFDE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3ACFD118-8BF1-4EA0-A6D9-FCDC035175AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Filter for images to convert</string>
				<key>title</key>
				<string>Convert HEIC to JPEG</string>
				<key>types</key>
				<array>
					<string>public.heic</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8CFDA1A4-77F5-4F2B-9E96-88994CBF9DE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>BB614872-E0F7-44AE-849F-24995A67C0DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<true/>
				<key>clearbuffer</key>
				<false/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>ED3C23B9-1906-49F1-9E34-00E5BE790119</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>alfred.action.move</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>11DE6F8C-1E84-475C-9161-00ED894C7AA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Convert HEIC images to JPEG via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action for converting HEIC](images/about/ua.png)

Alternatively, find images with the `heicjpeg` keyword.

![Alfred search for HEIC images](images/about/heicjpeg.png)

JPEGs are saved to the `Save Folder` set in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/) but you can imediatelly move them to another destination by choosing `Move to New Location` in the `After Conversion` configuration. Other options include showing a notification, revealing files in the Finder, and appending to the [File Buffer](https://www.alfredapp.com/help/features/file-search/#file-buffer).

The workflow will avoid overwriting any existing files, opting to stop rather than replace data.</string>
	<key>uidata</key>
	<dict>
		<key>092F777A-2B8C-42A7-84A3-88A8874CD261</key>
		<dict>
			<key>note</key>
			<string>Convert files</string>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>11DE6F8C-1E84-475C-9161-00ED894C7AA3</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>3ACFD118-8BF1-4EA0-A6D9-FCDC035175AF</key>
		<dict>
			<key>note</key>
			<string>Action to take after conversion</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>5020CA1A-6C69-48EC-8C31-D9394C9D6E1A</key>
		<dict>
			<key>note</key>
			<string>Save original file list (tab-separated) to a variable, in case we want to trash them</string>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>8CFDA1A4-77F5-4F2B-9E96-88994CBF9DE2</key>
		<dict>
			<key>note</key>
			<string>Filter for images with a keyword</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>AB5EC4C4-CD67-4887-AAA6-500CF034519B</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>BA7FEB7F-46E4-4667-9C86-AA112FDE9D35</key>
		<dict>
			<key>note</key>
			<string>Action limited to HEIC files</string>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>BB614872-E0F7-44AE-849F-24995A67C0DE</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BCCDB1D4-0D10-4D7B-B2B0-0BF09AEA3283</key>
		<dict>
			<key>note</key>
			<string>If configured to trash original files…</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C94B776A-414B-49DF-9B04-3A65EA0E84EE</key>
		<dict>
			<key>note</key>
			<string>… So they can be trashed</string>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>CBBE3BC1-6832-4E63-804B-DFD14DF108C0</key>
		<dict>
			<key>note</key>
			<string>… Split the variable (from the tab delimiter) into separate arguments…</string>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>D061ADDA-555F-4ED4-B45D-0D3CA28588B8</key>
		<dict>
			<key>note</key>
			<string>… Pass the original file list from the saved variable…</string>
			<key>xpos</key>
			<real>655</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>ED3C23B9-1906-49F1-9E34-00E5BE790119</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>heicjpeg</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop/Converted Images</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Save Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>save_in</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Trash HEIC images after conversion</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Delete Original</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>delete_orig</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>reveal</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Do Nothing</string>
						<string>stop</string>
					</array>
					<array>
						<string>Show Notification</string>
						<string>notification</string>
					</array>
					<array>
						<string>Reveal in Finder</string>
						<string>reveal</string>
					</array>
					<array>
						<string>Append to File Buffer</string>
						<string>buffer</string>
					</array>
					<array>
						<string>Move to New Location</string>
						<string>move</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>After Conversion</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>after_conversion</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.2</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/heic-to-jpeg-workflow/</string>
</dict>
</plist>
